:root {
  --color1: linear-gradient(90deg, rgb(242, 15, 16) 0%, rgb(236, 96, 13) 100%);
  --color2: rgb(242, 15, 16);
  --color3: rgb(236, 96, 13);
  --color4: rgb(16, 53, 138);
  --color1-transparent-15: rgb(236, 95, 13, 0.3);
  --color4-transparent-15: rgb(16, 53, 138, 0.3);
}

a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
.spinner-loading {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-image: var(--color1) !important;
  border-color: var(--color2) !important;
}
.btn-primary:focus {
  background-image: var(--color1) !important;
  box-shadow: 0 0 0 0.25rem var(--color1-transparent-15) !important;
}

.flaticon-login-mobil {
  color: var(--color3);
}
.btn-update {
  background-image: var(--color4) !important;
  background-color: var(--color4) !important;
  border-color: var(--color4) !important;
}
.btn-update:focus {
  background-image: var(--color4) !important;
  background-color: var(--color4) !important;
  border-color: var(--color4) !important;
  box-shadow: 0 0 0 0.25rem var(--color4-transparent-15) !important;
}

.client-carousel.owl-theme .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}
.client-carousel.owl-theme .owl-nav button {
  padding: 0;
  margin: 0;
  margin-right: 45px;
  position: relative;
  line-height: 1;
  background-color: #fff;
}
.client-carousel.owl-theme .owl-nav button:first-child {
  margin-right: 0;
}
.client-carousel.owl-theme .owl-nav button:hover {
  background: 0 0;
}
.client-carousel.owl-theme .owl-nav button:hover span:before {
  color: #f11a10;
}
.client-carousel.owl-theme .owl-nav button span:before {
  margin-left: 0;
  font-size: 40px;
  color: #2b71f3;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.client-carousel.owl-theme .owl-nav button:before {
  content: "";
  border-width: 1px;
  border-color: #b6b6b6;
  border-style: solid;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.client-carousel.owl-theme .owl-nav button:first-child:before {
  left: auto;
  right: 45%;
  -webkit-animation: carousel-left 3s infinite alternate linear;
  animation: carousel-left 3s infinite alternate linear;
}
.client-carousel.owl-theme .owl-nav button:last-child:before {
  left: 45%;
  -webkit-animation: carousel-right 3s infinite alternate linear;
  animation: carousel-right 3s infinite alternate linear;
}

.search-any {
  background-color: #f1f1f1;
  color: rgb(0, 0, 0);
}
.search-any {
  border-radius: 20px;
}
.search-any h3 span {
  display: inline-block;
  border-bottom: 3px rgb(0, 0, 0) solid;
}
footer .footer-copyright-text a {
  text-decoration: none;
  font-weight: bold;
}
.navbar-light {
  position: relative;
}
.topbar .navbar-option .mini {
  position: absolute;
  left: auto;
  top: 50%;
  transform: translateY(-30%);
  right: rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.topbar .navbar-light .navbar-toggler {
  right: 0px;
  left: auto;
  text-align: center;
  text-indent: 0px;
  font-size: 18px;
  top: 50%;
  transform: translateY(-5%);
  margin-left: 1rem;
  color: var(--color4-transparent-15);
  border: none;
}
.topbar .navbar-light .navbar-toggler span {
  display: block;
  width: 2rem;
  height: 0.25rem;
  background-color: var(--color4);
  margin: 4px;
  border-radius: 3px;
}
.navbar-light {
  padding: 1rem;
}

.topbar .navbar-light .navbar-nav ul {
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .topbar .navbar-collapse .navbar-nav .nav-link {
    padding: 1rem;
    color: var(--color4);
    font-weight: 450;
    font-size: 16.5px;
  }
  .topbar .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
    color: var(--color2) !important;
  }
  .topbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover,
  .topbar .navbar-collapse .navbar-nav .nav-item .nav-link.active {
    padding: 1rem;
    font-size: 16.5px;
    color: var(--color2) !important;
    font-weight: 450;
  }
}
@media (max-width: 992px) {
  .topbar .navbar-collapse .navbar-nav:first-child {
    margin-top: 2rem;
  }
  .topbar .navbar-collapse .navbar-nav .nav-link {
    padding: 1rem;
    border-top: 1px solid var(--color4-transparent-15);
    color: var(--color4);
    font-weight: 450;
  }
  .topbar .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
    color: var(--color2) !important;
  }
  .topbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover,
  .topbar .navbar-collapse .navbar-nav .nav-item .nav-link.active {
    padding: 1rem;
    border-top: 1px solid var(--color4-transparent-15);
    color: var(--color2);
    font-weight: 450;
  }
}
